* {
    margin: 0 !important;

    padding: 0 !important;
    font-family: 'Trebuchet MS', 'Roboto', 'Ubuntu', sans-serif;


}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('trebuc.woff') format('woff');
}

@font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: italic;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('Trebuchet-MS-Italic.woff') format('woff');
}

body {
    font-family: 'Trebuchet MS', 'Roboto', 'Ubuntu', sans-serif;
}


#sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    margin-top: 50px !important;
    width: 4.7% !important;
    border-right: 2px solid beige;
    background-color: white !important;
}

#tradingview_c6b91 {
    min-height: 100px;
    width: 100%;
    margin: 0px !important;

}

.tradingview-widget-container {
    padding: 0px !important;
    margin: 0px !important;
}

#tradingview_c6b91 {
    min-height: 100px;
    width: 100%;
    margin: 0px !important;

}

.tradingview-widget-container {
    padding: 0px !important;
    margin: 0px !important;
}


.nav-item {
    list-style: none;
}

h5 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.firstrow {
    /* padding: 16px !important; */
    height: 42px;

}

.sidebarul li {
    margin-top: -13px !important;
    padding: 18px !important;

}

.sidebardown {
    align-items: center;
}

.sidebardown li {
    margin-top: 20px !important;
    padding: 18px !important;
}

main {
    width: 95.3% !important;
}

.bordergive {
    border-bottom: 1px solid lightblue;
    background-color: white !important;
}

.firstlogo {
    border-bottom: 1px solid lightblue;
    width: 100%;
    padding: 20px !important;
    padding-top: 10px !important;
    margin-left: -90px !important;

    height: 42px;
}



.card {
    height: 310.8px;
    border-bottom: 4px solid beige !important;
    border-spacing: 2px !important;
    border-left: 1.5px solid beige !important
}

#tradingview_c6b91 {
    /* border-left: 3px solid beige; */
    border-bottom: 3px solid beige;
    border-right: 1.5px solid beige;

    /* border-spacing: 2px !important; */

}

.table-responsive {
    border-top: 3px solid beige;
    background-color: white !important;
    border-bottom: 0px !important;
}

tr {
    border: 0px !important;
}

thead {
    border: 0px !important;

}

tbody {
    border: 0px !important;
    background-color: gainsboro;

}

td {
    border: 0px !important;

    padding: 5px !important;
}

th {
    font-size: 13px;
    font-weight: 600;
    padding-left: 4px !important;
}

td {
    padding-left: 4px !important;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-icon {
    order: 1;
    margin-left: 10px !important;
}

.search-input {
    order: 2;
    flex-grow: 1;
}

.no-border {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin-left: 10px !important;
}

form {
    border: 1px solid black;
    height: 40px;
}

.col label {
    margin-left: 12px !important;
    font-size: small !important;
    margin-top: 0px !important;
}

.content {
    margin: 0px !important;
    margin-top: 0px !important;
    background-color: lightcyan;
}

.fa-angle-up {
    margin-left: 5px !important;

}

.fromleft {
    margin-left: 0.5rem !important;
}

.rightside {
    border-right: 0.5px solid black;
    width: 80%;
    height: 33px;
    padding-top: 4px !important;

}

.last {
    border-right: none;
}









.dropdown-card {
    display: none;
    position: absolute;
    /* To overlay on top of other content */
    width: 100%;
    /* or any desired width */
    height: 87.4%;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    padding: 0px 5px !important;

}

.dropdown-card .dropdown-row {
    padding-top: 10px !important;
}

.dropdown-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}



#dropdowncard3 {
    display: none;
    position: absolute;
    width: 100%;
    height: 87.4%;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    padding: 0px 5px !important;

}

#dropdowncard4 {
    display: none;
    position: absolute;
    width: 100%;
    height: 87.4%;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    padding: 0px 5px !important;

}


#dropdowncard2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 87.4%;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    padding: 0px 5px !important;

}



#dropdowncard5 {
    display: none;
    position: absolute;
    width: 100%;
    height: 87.4%;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    padding: 0px 5px !important;

}


#dropdowncard6 {
    display: none;
    position: absolute;
    width: 100%;
    height: 87.4%;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    padding: 0px 5px !important;

}

#dropdowncard7 {
    display: none;
    position: absolute;
    width: 100%;
    height: 87.4%;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    padding: 0px 5px !important;

}


.description1 {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}

.dropdown-row2 {
    display: flex;
    justify-content: space-between;

}



.toggle-btn {
    width: 30px;
    height: 30px;
    display: flex;
    background: white;
    border: none;
    align-items: center;
    justify-content: center;
}

.toggle-btn i {
    font-size: 14px;
}

.fa-plus {
    color: black;

}

.fa-check {
    color: blue;

}


.f {
    width: 5.33% !important;
}

.tex1 {
    font-size: 13px;
    color: blue;
}

.tex {
    font-size: 10px;
}

.increase {
    width: 44.666667% !important;
}

.content {
    height: 30px;
}

td {
    font-size: 13px;
    font-weight: 600;
}

input {
    border: wheat !important;
    outline: wheat;
}



#detailsCard {
    margin-left: 10px !important;
}

.profile {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.drop li {
    margin-top: 15px !important;
    margin-left: 7px !important;
}


.dropdown-container {
    width: 330px;
    height: 300px;
    margin-top: 45px !important;

    overflow-y: scroll;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    padding: 12px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.header span {
    font-size: 18px;
    font-weight: bold;
}

#closeDropdownBtn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.content1 .option {
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.content1 .option:last-child {
    border-bottom: none;
}

.control button {
    background-color: #e5e5e5;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
}

.control input {
    text-align: center;
    width: 60px;
}

.prices {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
    color: red;
}

.buttons-row {
    display: flex;
    justify-content: center;
    padding: 10px 15px;

}

button.sell {
    background-color: #da5244;
    color: white;
    width: 50%;
    border: 0;

    padding: 10px 15px !important;

}

button.buy {
    background-color: #3687ED;
    color: white;
    border: 0;

    width: 50%;
    padding: 10px 15px !important;


}


.innerdropdown {
    padding: 5px !important;
    border: 1px solid #e5e5e5;
    height: 37px;
    margin: 0px !important;
}

.innervolume {
    padding: 8px !important;
    border: 1px solid #e5e5e5;
}

.in {
    border: 1px solid #e5e5e5 !important;

}

.content1 {
    padding: 10px !important;
}

.innervolume {
    display: flex;
    align-items: center;
}

.innervolume button {
    flex: 1;
    text-align: center;
    background-color: white;

}

.clickedcross {
    margin-right: 13px !important;
}

.innervolume input {
    flex: 2;
    text-align: center;
    margin: 0 10px;
    /* This provides some space between the buttons and the input */
}

.innervolume1 button {
    flex: 1;
    text-align: center;
    background-color: white;
}

.innervolume1 input {
    flex: 2;
    text-align: center;
    margin: 0 13px !important;
    /* This provides some space between the buttons and the input */
}


.specialbutton {
    /* border-right: 1px solid #e5e5e5 !important; */
    width: 200px;
    padding: 0 !important;
}


.lefter {
    height: 400px;
    overflow-y: scroll;
}

.righter {
    height: 400px;
    overflow-y: scroll;
}

.add {
    width: 50px;
    background-color: gainsboro;
    padding: 10px !important;

}

.edit {
    padding: 10px !important;

}

.crosslogo {
    padding-right: 10px !important;
    padding-top: 10px !important;
    font-size: 24px;
}

.inn {
    border: 1px solid black !important;
    margin-left: 15% !important;
    border-radius: 4px;
    width: 70%;
}

.lefttext {
    font-size: 12.6px !important;
    padding: 5px 35px !important;
}

.toptext {
    margin: 7px 0 10px !important;
    margin-bottom: 10px !important;
}

.series {
    margin-top: -27px !important;
    margin-left: 25px !important;
}


.box {
    padding: 10px;
    width: 91%;
    margin-left: 10px !important;
    margin-top: -20px !important;
    height: 35px;
}

.innn {
    border: 1px solid black !important;
    width: 91%;
    ;
    margin-left: 10px !important;
    margin-top: -20px !important;
    height: 35px;


}

.addbutton {
    margin-left: 70% !important;
}



/* 
.head111 {
    display: none;
    position: absolute; 
    z-index: 10;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
} */

.show {
    display: block !important;
}

.head111 {
    height: 430px;
    background-color: white !important;
    position: absolute;
    overflow: hidden;
    width: 50%;
    display: none;
    z-index: 10;

}

.flip-horizontal {

    color: #3687ED;
    transform: scaleX(-1);
}


.para {
    margin-bottom: -77px !important;
}

.profile:hover {
    background-color: #e5e5e5;
}




#searchh {
    height: 200px !important;
}











body.dark-mode *,
body.dark-mode,
body.dark-mode svg,
body.dark-mode .card,
body.dark-mode .search-form,
body.dark-mode .dropdown-card,
body.dark-mode .dropdown-card2,
body.dark-mode .dropdown-row,
body.dark-mode .dropdown-row1,
body.dark-mode .dropdown-row2,
body.dark-mode .searchbottom,
body.dark-mode i,
body.dark-mode .fa,
body.dark-mode [class^='fa-'],
body.dark-mode [class*=' fa-'],
body.dark-mode #sidebar,
body.dark-mode #sidebar .firstlogo,
body.dark-mode #sidebar .nav-item,
body.dark-mode #sidebar .nav-link,
body.dark-mode #sidebar .sidebardown {
    background-color: #1f1f1f !important;
    border-color: #2e2e2e !important;
    color: #D1D1D2 !important;
    margin: 0;
    padding: 0;
    white-space: normal !important;

    .uuuuuuuu {
        fill: #D1D1D2 !important;
    }

    .uu1 {
        fill: blue !important
    }

    .buy {
        background-color: blue !important;
        color: white !important;
    }

    .sell {
        background-color: red !important;
        color: white !important;
    }

    .addbutton {
        background-color: blue !important;
        color: white !important;
    }

    .gameee {
        background-color: #1f1f1f !important;
    }
}

/* 
#dropdowncard3{
    overflow-y: scroll;
    overflow-x: scroll;
    display: none;
}

.dropdown-card3{
    overflow-y: scroll;
    height: 270px;   
} */

:fullscreen,
:fullscreen * {
    background-color: white !important;


}

.table-responsive2 {
    display: none;
}


.history {
    display: none;

}

:fullscreen .orders {
    background-color: blue !important;
    color: white !important;
}

:fullscreen .gameee {
    background-color: white !important;
    color: black !important;

}

:fullscreen .sell {
    background-color: red !important;
    color: white !important;
}

:fullscreen .buy {
    background-color: blue !important;
    color: white !important;
}

:fullscreen .addbutton {
    background-color: blue !important;
    color: white !important;
}


.tradingview-widget-container,
tradingview_c6b91 {
    overflow-x: scroll;
    overflow-y: scroll;
}





@media (min-width:1260px) {

    .tradingview-widget-container,
    tradingview_c6b91 {
        overflow: hidden !important;
    }
}

@media (max-width:991px) {

    .head111 {

        width: 90%;


    }



    .firstrow {
        padding: 0 !important;
    }

    .sidebarul li {
        padding-left: 5px !important;
    }

    .sidebardown li {
        padding-left: 0 !important;
    }

    .sidebarul {
        margin-top: 10px !important;
    }

    .sidebardown {
        padding-left: 5px !important;
        margin-top: 2px !important;

        align-items: start !important;


    }

    .firstlogo {
        padding-left: 5px !important;
    }

    i {
        font-size: 24px !important;
    }

    .barsss {
        width: 20px !important;
    }

    .viewss {
        margin-top: 3rem !important;
    }

    .no1 {
        width: 10% !important;
    }

    .no2 {
        width: 90% !important;
    }

    .no3 {
        width: 100% !important;
        margin-top: 1.3rem !important;

        margin-right: auto !important;
    }

    

    /* .bordergiveparent{
        width:120% !important;
    } */
    /* .borderrevised{
        width:120% !important;


    } */

    #sidebar {
        justify-content: flex-start !important;
        width: 8% !important;
    }

    .bordergiveparent {
        width: 92% !important;
    }
    
}



.borderrevised {
    width: 120% !important;
}


@media (max-width:576px) {
    .firstlogo {
        padding-left: 0px !important;
    }

    .sidebarul li {
        padding-top: 10px !important;
        padding-left: 0px !important;
    }

    .sidebardown li {
        padding-top: 2px !important;
        margin-top: 5px !important;
        padding: 0 !important;
    }

    i {
        font-size: 24px !important;
    }

    #sidebar {
        justify-content: flex-start !important;
        width: 12% !important;
    }

    .bordergiveparent {
        width:88% !important;
    }



    .addbutton {
        margin-left: 0% !important;
        margin-bottom: 10px !important;
    }

    /* Mobile view */
    @media (max-width: 767px) {



        .endsection {
            display: block;
        }



    }


    /* formobile */

    #navtoggler {
        color: black !important;
        background-color: white !important;
    }









}


@media (max-width:992px) {
    .tohide {
        display: none !important
    }

    .toshow {
        display: block !important;
    }

  
    #hiddingit{
        display: none !important;

    }
    #margingiving{
        margin-left:20px !important ;
        display: flex !important;
        justify-content:space-evenly !important;
        
    }
    #margingiving2{
        margin-left: 90px !important;

    }
    #toleftnavbartoggle {
        position: absolute;
        left: 1%;
         top:3.9%;/* To vertically center the button */
        transform: translateY(-50%); /* Adjusts the positioning to make it truly centered vertically */
        background-color: white;
        
        z-index: 1000; /* This ensures the button stays on top of other content */
    }



    #detailsCard {
        margin: 0px !important;
        display: none;
        height:200px;

        width: 102% !important;
        
        z-index: 100000;
    }

    #mainCard{
        display: none;
    
    }

    .table-responsive{
        display: none;
    }
    .orders{
        display: none !important ;
    }

    .viewss{
        margin-top: 0px !important;
    }


    main{
        height: 30vh !important;
    }
    
  

}

@media (min-width:992px) {
   

    .toshow {
        display: none !important;
    }
    


}



/* Will put it  */


.endsection{
    /* display: block !important; */
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    top: 90%;
    align-items: end;
    position: fixed;
}

i{
    margin-left: 10px !important;
}


.margin
{
    margin-left:12% !important;
}


.trademobilepage{
    display: none;
}
.positions{
    padding-left: 20px !important;
}

.trademobilepage > *{

    margin-top: 4px !important;

    
}

.historymobilepage{
    display: none;
}

#historymobilepage{
    width: 102%  !important;
}


#trademobilepage{
    width: 102% !important ;

}
.mainCard
{
    width: 102% !important;
}














